<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td style="width:777px">
            <table cellpadding="0" cellspacing="0" border="0" class="box_header_txt">
                <tr>
                    <td><%= image_tag("../images/title1_left.jpg") %></td>
                    <td style="width:100%">Shopping Cart:</td>
                    <td><%= image_tag("../images/title1_right.jpg") %></td>
                </tr>
            </table>
            <br style="line-height:2px" />
            <table cellpadding="0" cellspacing="0" border="0" class="box_body c1">
                <tr>
                    <td><%= image_tag("../images/c1_tl.jpg") %></td>
                    <td class="c1_top"><%= image_tag("../images/spacer.gif", :width=>"9", :height=>"9") %></td>
                    <td><%= image_tag("../images/c1_tr.jpg") %></td>
                </tr>
                <tr>
                    <td class="c1_left"><%= image_tag("../images/spacer.gif", :width=>"9", :height=>"1") %></td>
                    <td>
                      <table>
                        <tr align="left">
                          <th>Product</th>
                          <th>Price</th>
                          <th>Quantity</th>
                          <th>Total</th>
                        </tr>

                        <% for cart_item in @cart.cart_items %>
                          <tr>
                            <td><%=h cart_item.title %></td>
                            <td>R<%=h number_to_currency(cart_item.price) %></td>
                            <td><%=h cart_item.quantity %></td>
                            <td><%=h cart_item.total %></td>
                          </tr>
                        <% end %>
                        <tr>
                          <td colspan="3" align="right">Total:</td>
                          <td><%=h @cart.total_price %></td>
                        </tr>

                      </table><br/>

                      <%= button_to "Empty cart", :action => :empty_cart %>
                      <div align="right">
                        <%= pagseguro_form @order, :submit => "Payment" %>
                      </div>

                    </td>
                    <td class="c1_right"><%= image_tag("../images/spacer.gif", :width=>"9", :height=>"1") %></td>
                </tr>
                <tr>
                    <td><%= image_tag("../images/c1_bl.jpg") %></td>
                    <td class="c1_bottom"><%= image_tag("../images/spacer.gif", :width=>"1", :height=>"9") %></td>
                    <td><%= image_tag("../images/c1_br.jpg") %></td>
                </tr>
            </table>
        </td>
        <td><%= image_tag("../images/spacer.gif", :width=>"3", :height=>"1") %></td>
    </tr>
</table><br/>
<%= image_tag("back.png") %><%= link_to "Back to Home", {:controller=>"home", :action=>"index"} %>

