<h1>Listing products</h1>

<table>
  <tr>
    <th>Product Type</th>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Image url</th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%=h product.product_type.title unless product.product_type.nil?%></td>
    <td><%=h product.title %></td>
    <td><%=h product.description %></td>
    <td><%=h product.price %></td>
    <td><%=h product.image_url %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New product', new_product_path %>